.cpu-load-chart {
  display: flex;
    background-color: whitesmoke;
    border-radius: 5%;
    flex: 1;
    max-height: 60vh;
    position: relative;
    padding: 5%;
}

.load-chart-svg {
  width: 100%;
  max-height: 100%;
  /* position: absolute; */
  /* bottom: -20%; */
  padding: 1%;
  overflow: visible;
}

.axis path {
    fill: none;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }

  text {
    fill: blueviolet;
    color: black;
    font-size: 0.7em;
  }